@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.bg-primary {
  background-color: #6358dc;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* Loading Button Style */
.loader_button_dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  animation: loader_button_animation 1.2s infinite ease-in-out;
}

@keyframes loader_button_animation {
  0%,
  100% {
    opacity: 0.3;
    transform: translateY(0) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateY(-4px) scale(1.1);
  }
}
